<div class="container-fluid">
	<div class="bg-light p-4">
		<div class="row">
			<div class="col-12">
				<h1 class="fw-bold">Rechercher un film</h1=fw-bold>
			</div>
			<div class="col-12">
				<p>Saisir un mot du titre</p>
			</div>
			<div class="col-6">
				<form class="row g-3" action="rechercher_films" method="post">
					<div class="col-auto"><input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon"/></div>
					<div class="col-auto">
						<button type="submit" class="btn btn-outline-secondary">Rechercher</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	{# fin bloc rechercher un film #}
	<div class="container">
		<div class="row">
		<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
			{% for film in allmovies %}
				{# pour tous les films trouvés on affiche ses infos #}
				{% if loop.first %}
						<div class="carousel-item active">

							<div class="col-6">
								<h1>{{ film.get_titre}} {{film.get_annee}}
									({{film.get_annee}})</h1>
							</div>
								<div class="row">
									<div class="col-6">
										<img src="{{film.get_affiche}}" class="d-block w-100" alt="affiche film">
									</div>

									<div class="col-6">
										<div class="card" style="width: 18rem;">
											<div class="card-body">
											<h5 class="card-title">Acteurs:</h5>
												<div class="card-text"><p> liste acteurs
													{% for role in films.get_tabRoles %}
											
											personnage : {{role.get_personnage}} :
											{{acteurs.get_nom}}
											{{acteurs.get_prenom}}
											</p>
											<br>
										{% endfor %}
												</div>
											</div>
										</div>
									</div>
								</div>		
						</div>
					{% else %}

					<div class="carousel-item">
						<div class="col-6">
							<h1>{{ film.get_titre}}
								({{film.get_annee}})</h1>
						</div>
						<div class="row">
						<div class="col-6">
							<img src="{{film.get_affiche}}" class="d-block w-100" alt="affiche film">
						</div>

														<div class="col-6">
										<div class="card" style="width: 18rem;">
											<div class="card-body">
											<h5 class="card-title">Acteurs:</h5>
												<div class="card-text">
										{% for role in films.get_tabRoles %}
											(
											{{role.get_personnage}}) :
											{{role.get_nom}}
											{{role.get_prenom}}
											<br>
										{% endfor %}
												</div>
											</div>
										</div>
									</div>
								</div>		
						</div>
				{% endif %}
			{% endfor %}
		</div>

</div>

			{# boutons carrousel #}
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
					<span style="color:blue; border:1px solid blue;border-radius: 50px;padding: 3px 8px;" aria-hidden="true">Previous</span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
					<span style="color:blue; border:1px solid blue;border-radius: 50px;padding: 3px 8px;" aria-hidden="true">Next</span>
					<span class="visually-hidden">Next</span>
				</button>
    </div> </div>
</div>