<div>
    {% for movie in allfilms %}
   
 <div class="container-fluid">
        <div class="bg-light">
            <div class="row">
            <h1>Rechercher un film</h1>
            <p>Saisir un mot du titre</p>
                <div class="input-group">
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                    <button type="button" class="btn btn-outline-primary">Rechercher</button>
                </div>
                    {{film.get_titre}}
                    {{film.get_realisateur}}
                    
                    {{film.get_annee}}
                    {{film.get_titre}}
                    {{film.get_tabRoles}}

  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{film.get_affiche}}" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
            
            
            </div>
        </div>
    </div>
    {% endfor %}
</div>